p {
    font-family: 'Arial';
    margin-top: 0;
    margin-bottom: 0;
}

button {
    font-family: 'Arial';
}

body {
    background-color: lightpink;
}

.main {
    text-align: center;
}

#videobackground {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 30%;
}

.subscribe {
    background-color: rgb(169,0,1);
    color: white;
    border: none;
    height: 35px;
    width: 105px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.5s, color 1s;
}

    .subscribe:hover {
        background-color: white;
        color: rgb(169,0,1);
        border-color: rgb(169,0,1);
        border: solid;
        border-width: 2px;
    }

    .subscribe:active {
        background-color: rgb(240,240,240);
    }

.join {
    background-color: white;
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 1px;
    color: rgb(41, 118, 211);
    height: 35px;
    width: 62px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.35s, color 0.6s;
}

    .join:hover {
        background-color: rgb(41, 118, 211);
        color: white;
    }

    .join:active {
        background-color: rgb(30, 100, 211);
    }

.tweet {
    background-color: rgb(41, 118, 211);
    border-style: none;
    color: white;
    height: 35px;
    width: 80px;
    border-radius: 20px;
    font-size: 15;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

    .tweet:hover {
        box-shadow: 0 0 10px gray;
    }

.hello {
    color: rgb(100,80,90);
    margin: auto;
    width: 300px;
    text-align: center;
    font-size: 30px;
    line-height: 20px;
    margin-top: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.message {
    margin: auto;
    width: 500px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.info {
    margin: auto;
    width: 420px;
    text-align: center;
    font-size: 13px;
    text-align: left;
    font-weight: bold;
    color: dimgray;
    margin-bottom: 10px;
}

.profileimage {
    display: inline-block;
    margin: auto;
    margin-bottom: 15px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.links {
    margin: auto;
    width: 50%;
    margin-bottom: 15px;
}

.github {
    display: inline-block;
    height: 60px;
    width: 270px;
    background-color: rgb(13,17,23);
    border-color: antiquewhite;
    border-width: 2px;
    border-radius: 23px;
    border-style: solid;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

    .github:hover {
        background-color: antiquewhite;
        border-color: rgb(13,17,23);
    }

        .github:hover .github-text {
            color: rgb(13,17,23);
        }

        .github:hover .github-profile-image {
            border-color: black;
        }

.github-text {
    display: inline-block;
    margin: 5px;
    position: relative;
    width: 110px;
    top: -40%;
    left: -5px;
    color: antiquewhite;
    text-align: center;
}

.github-profile-image {
    display: inline-block;
    width: 46px;
    height: 46px;
    border-radius: 25px;
    border: solid;
    border-width: 2px;
    border-color: antiquewhite;
    object-fit: cover;
    position: relative;
    margin: 5px;
    top: 0px;
    left: 0px;
}